body {
    margin: 0;
}

.container {
    margin: 30px;
    max-width: 500px;
}

#widget {
    display: flex;
    border: 1px solid #CCC;
    border-radius: 5px;
}

#widget>div {
    margin: 10px;
}

#widget select,
#widget input {
    border: 1px solid #CCC;
}

#widget input {
    margin-top: 5px;
}

#filter {
    max-width: 60px;
    margin-left: 20px;
}

.listbox>select {
    overflow: hidden;
    width: 100%;
}

#new-person {
    padding-top: 21px;
}

#new-person label {
    min-width: 70px;
    display: inline-block;
}

#new-person input {
    max-width: 100px;
}

.spacer {
    margin-top: 10px;
}