/* Component-specific styles */

.flight-booker {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flight-booker .input {
  width: 100%;
  text-align: center;
}


.flight-select {
  cursor: pointer;
}


.input--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}