if-then-else=k-r
break-cases=all

# Records: semicolon prefix
break-separators=before
# Records: Opening bracket on the same line as the first field
dock-collection-brackets=false

# sequence-style=separator
let-binding-spacing=double-semicolon

# Add new lines when applying multiple pipe operators!!
break-infix=fit-or-vertical

# Prefix the semicolon operator, this makes chaining expressions easier
# (no need to remember to add one every new line before the final expression
sequence-style=before

parens-tuple=always
parens-tuple-patterns=always