<form [formGroup]="form">
  <select name="flightType" id="flightType" formControlName="type">
    <option *ngFor="let t of types" [value]="t">{{t.toUpperCase()}}</option>
  </select>
  <input type="text" formControlName="departure">
  <input *ngIf="form.value.type === 'return flight'" type="text" formControlName="return">
  <button [disabled]="form.invalid">Book</button>
</form>

<p>
  form: {{form.value | json}}
</p>

<p>
  errors: {{form.controls.type.errors | json}}
  <br>
  errors: {{form.controls.departure.errors | json}}
  <br>
  errors: {{form.controls.return.errors | json}}
  <br>
  errors: {{form.errors | json}}
  <br>
  valid: {{form.valid}}
</p>
