#form {
    border: 1px solid var(--color-border);
    margin: auto;
    width: 450px;
    background-color: var(--color-card);
    border-radius: var(--radius);
}

#form>div {
    display: flex;
    padding: 7px 10px;
}

#form .left {
    padding-right: 7px;
}

#form .left input,
#form .left select {
    width: 100%;
}

#form .right {
    padding-left: 7px;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#form .right>div {
    display: flex;
    margin: 2px auto;
}

#form .right label {
    width: 70%;
}

#form .right input {
    width: 130%;
}

#prefix-section {
    display: flex;
    padding: 7px 0;
}

#prefix-section label {
    width: 100%;
}

#people>select {
    /* Prevents a vertical jitter when deleting the last item */
    height: 150px;
}

#people select:focus {
    outline: none;
}

#buttons button {
    margin-right: 10px;
    min-width: 85px;
}
